.circular-img
				{
					display:inline-block;
					padding:10px;
					border-radius:50%;
					background:black;
					height:120px;
					width:120px;
				}
.circular-img img
{
					display:inline-block;
					margin-top:5px;
					margin-left:10px
}

@media only screen and (max-width: 640px) {
.circular-image{
        border-radius:50%;
}}