
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgb(238, 174, 202);
    background: #ffffff
}

h1 {
    font-weight: 800;
    margin: 1rem 0 0;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;

    li {
        display: flex;
        width: 10rem;
        height: 10rem;
        margin: 0.25rem;
        flex-flow: column;
        border-radius: 0.2rem;
        padding: 1rem;
        font-weight: 300;
        font-size: 0.8rem;
        box-sizing: border-box;
        background: #ffffff;
        box-shadow: 0 8px 32px 0 rgba(114, 115, 133, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        time {
            font-size: 2rem;
            margin: 0 0 1rem 0;
            font-weight: 500;
        }
    }

    #today {
        time {
            font-weight: 800;
        }

        background: gray;
    }


}

ul li:hover {
    background: lightgrey;
}

